#countdown, #aboutapp {
    display: block;
    margin-top: 10px;
}

#aboutapp p {
    margin-left: 15%;
}

.text-box {
    margin-top: 35px;
    width: 90%;
    max-width: 1000px;
}

.text-box h1, #demo {
    text-align: center;
}

.text-box p {
    font-size: 20px;
}

footer {
    margin-top: 35px;
}
