.Code-wrapper{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1080px) {
    .Code-wrapper{
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
  }

  @media screen and (max-width: 720px) {
    .Code-wrapper{
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
  }

.Codecont{
    flex: auto;
    border-radius: 8px;
    margin: 5px;
    float: left;
    width: 350px;
    height: 300px;
    padding: 10px;
    background-color: rgba(29, 32, 34, 0.918);
    text-align: center;
    contain: content;
    color: white;
}

.Codecont a{
    color: white;
    padding: 10px 20px;
}

.Codecont a:hover{
    color: rgb(0, 111, 238);
}

.Codecont h1{
    font-size: 25px;
}

.Codecont img{
    width: 100%;
    max-height: 100%;
    border-radius: 8px;
    image-resolution: from-image;
    image-resolution: 0.1dpi;
    image-resolution: from-image 0.1dpi;
    image-resolution: 0.1dpi snap;
}

.codeimage-wrapper{
    height: 195px;
    contain: content;
}

.numthing{
    margin-left: -50px;
    float: right;
    color: rgba(0, 89, 255, 0.637);;
}

.saveeditsearch{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: rgba(29, 32, 34, 0.918);
    color: white;
    border-radius: 8px;
    border: 3px solid rgb(27, 27, 27);
}

.input {
    border:0; 
    padding:10px; 
    font-size:1.3em; 
    font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
    color:#ccc; 
    border:solid 1px #ccc; 
    margin:0 0 20px; 
    width:300px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;    
  }

input:focus { 
    outline: none !important;
    border-color: rgb(0, 111, 238);;
    box-shadow: 0 0 10px rgb(0, 111, 238);;
 }