* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: "Nunito-Sans";
    background-image: url('https://cdn.discordapp.com/attachments/986329829332901938/986330138394394695/ets2_20220614_190126_00.png');    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
}

.box-margin {
    margin-top: 170px;
}
