main {
    margin-top: 30px;
}

#nts {
    text-align: center;
}

#nts img {
    width: 200px;
}

h1 {
    color: #dedede;
    font-weight: 800;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.text-box {
    background-color: rgba(27, 27, 27, 0.7);
    border-radius: 10px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

.box-margin {
    margin-top: 50px;
}

#slideshow-container{
    padding-top: 50px;
}

.mySlides{
    display: block;
    overflow-x: hidden;
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: 1205px;
    min-width: 305px;
}

.mySlides.fade{
    opacity: 100%;
}

.mySlides img{
    border-radius: 10px;
    width: 600px;
}

@media (max-width: 768px) {
    main {
        padding-top: 35px;
    }

    .text-box {
        width: 300px;
    }

    .mySlides img {
        width: 300px;
    }
}
