header {
    width: 100%;
    height: 100px;
    background-color: rgb(29, 32, 34, 0.7);
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -70px;
    font-size: 23px;
}

#center svg {
    width: 23px;
    color: white;
}

#center a {
    color: white;
}

#center li {
    display: inline;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 5px;
    margin-right: 5px;
}

#right {
    position: absolute;
    margin-top: -70px;
    right: 10px;
}

#right li {
    display: inline;
}

#right a {
    text-decoration: none;
}

#right i {
    color: rgb(255, 255, 255);
}

#right i:hover {
    color: #b9b9b9;
}

#left img {
    width: 70px;
    margin-top: 15px;
    margin-left: 10px;
    transition: 0.2s;
}

#left img:hover {
    transform: scale(1.1);
}

#left img:active {
    transform: scale(1);
}

#sidebar {
    display: none;
}

@media (max-width: 768px) {
    #navbar {
        display: none;
    }

    #sidebar {
        display: block;
        width: 200px;
        height: 100%;
        position: fixed;
    }

    #sidebar a {
        color: white;
    }

    #sidebar i {
        color: white;
    }
}