h1{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(29, 32, 34, 0.7);
    max-width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.Card-Wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}

.Card{
    background-color: rgba(29, 32, 34, 0.918);
    color: white;
    max-width: 40%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    transition: 0.2s;
}

.Card:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.Card img{
    max-width: 50%;
    border-radius: 100%;
    margin: 10px;
    background-color: rgb(0, 111, 238);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 111, 238);
}